* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: black;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    padding: 2em .5em;
}

header nav a:hover {
    color:blue;
    /*background-color: darkgrey;*/
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header nav .nav-bar-logo {
    position: absolute;
    width: 100%;
    text-align: center;
}

header nav .nav-bar-logo li {
    width: 100%;
}

header nav .nav-bar-logo a {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;
}

ul:not(.nav-bar-logo) {
    z-index: 100;
}

p {
    text-align: center;
}
